{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="../static/stylesheets/inside.css">
{% endblock head %}



{% block navbar %}
	<div class="container">
		<nav class="navbar navbar-tutee">
			<div class="container-fluid">

				<div id="navbar" class="collapse navbar-collapse">
		       		<ul class="nav navbar-nav">
		       			<li><a href="/homepage"><h3>Tutee</h3></a></li>
					    <li><a href="/profile/{{session['username']}}"><h4>Profile</h4></a></li>
					     {% if session['type'] == "tutee" %}
				        <li><a href="/search"><h4>Search</h4></a></li>
				        <li><a href="/settings/profile"><h4>Account Settings</h4></a></li>
						{% endif %}
						{% if session['type'] == "tutor" %}
				        <li class="dropdown">
				        	<a class="dropdown-toggle" data-toggle="dropdown" role="button"><h4>Account Settings</h4></a>
				        	<ul class="dropdown-menu" role="menu">
				        		<li><a href="/settings/profile">Profile</a></li>
				        		<li><a href="/settings/classes">Classes</a></li>
				        		<li><a href="/settings/times">Times</a></li>
				        	</ul>
				        </li>
				        {% endif %} 
					    <li><a href="/inbox"><h4>Messages ({{session['count_unread']}})</h4></a></li>
				    </ul>
		    		<ul class="nav navbar-nav navbar-right">
		          		<li><p style="color:black !important" class="navbar-text">Signed in as {{ session["first_name"] }} {{ session["last_name"] }}</p></li>
			  			<li><form method="POST" id="logout"><input type="submit" class="btn btn-default navbar-btn button" name="s" value="Log Out"></form></li>
		        	</ul>
		        </div>
			</div>
		</nav>
		{% if session['type'] == "tutor" and session['complete'] == 0 %}
			<div class="alert alert-danger" role="alert">
			  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			  You have not yet entered the <a href="settings/times"> days and times you are available</a>. You must do this to be matched with tutees.
			</div>
		{%endif%}
{%endblock%}
{% block body %}
{% block flashing %}
{% with messages = get_flashed_messages() %}
{% if messages %}
	{% for message in messages %}
	<div class="alert alert-success" role="alert">
      {{ message }}
    </div>
	{%endfor %}
{% endif %}
{% endwith %}
{% endblock %}
		{% for appt in appts %}
		<div class="panel panel-default">
		  <div class="panel-heading clearfix">
		  	<form method="POST" id="removeAppt">
			  	<button type="submit" class="btn btn-default pull-right" name="s" value="Complete">
				  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				</button>
				<input type="hidden" name="index" value="{{loop.index0}}">
			</form>
		    <h3 class="panel-title">Session with {{ appt["tutor"] }}</h3>
		  </div>
		  <div class="panel-body" style="color:black">
			<p>Subject: {{ appt["subject"] }}</p>
			<p>Class: {{ appt["class"] }}</p>
			<p>Day: {{appt["day"]}} </p>
			<p>Start Time: {{appt["start_time"]}}</p>
			<p>End Time: {{appt["end_time"]}}</p>
			<p>Location: {{appt["location"]}}</p>
		  </div>
		</div>
		{% endfor %}
		<form method="POST" id="message">
			<div class="form-group" style="color:black !important">
			  <p><label for="recepient">Recepient</label>
			  <input type="text" class="form-control" name="recipient" placeholder="Enter Recipient"></p>
			  <p><label for="message">Message</label>
			  <input type="text" class="form-control" name="message" placeholder="Message"></p>
			  <p><input type="submit" class="btn btn-default navbar-btn button" name="s" value="Send">
			</div>
		</form>


	</div>

{% endblock %}
