{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="../static/stylesheets/inside.css">
{% endblock head %}

{% block navbar %}
	<div class="container">
		<nav class="navbar navbar-tutee">
			<div class="container-fluid">

				<div id="navbar" class="collapse navbar-collapse">
		       		<ul class="nav navbar-nav">
		       			<li><a href="/homepage"><h3>Tutee</h3></a></li>
					    <li><a href="/profile/{{session['username']}}"><h4>Profile</h4></a></li>
					    {% if session['type'] == "tutee" %}
				        <li><a href="/search"><h4>Search</h4></a></li>
						{% endif %}
				        <li><a href="/settings/profile"><h4>Account Settings</h4></a></li>
					    <li><a href="/inbox"><h4>Messages ({{session['count_unread']}})</h4></a></li>
				    </ul>
		    		<ul class="nav navbar-nav navbar-right">
		          		<li><p style="color:black !important" class="navbar-text">Signed in as {{ session["first_name"] }} {{ session["last_name"] }}</p></li>
			  			<li><form method="POST" id="message"><input type="submit" class="btn btn-default navbar-btn button" name="s" value="Log Out"></form></li>
		        	</ul>
		        </div>
			</div>
		</nav>
	</div>



	<div>
	  <form method="POST">
	    <button type="button" style="color:black" data-toggle="modal" data-target="#sendMessage">Send Message</button>
	  </form>
	  <div class="modal fade" id="sendMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	      <div class="modal-content">
		<div class="modal-header">
		  <h4 class="modal-title" style="color:black" id="myModalLabel">Send a message</h4>
		</div>
		<div class="modal-body">
		  <form method="POST">
		    <div class="form-group">
		      <div class="control-group">
			<label for="recipient" style="color:black" class="control-label">Recipient: </label>
			<input type="text" class="form-control" placeholder="Username" name="recipient" id="recipient"></input>
		      </div>
		      <div class="control-group">
			<label for="message" style="color:black" class="control-label">Message: </label>
			<input type="text" class="form-control" placeholder="Message" name="message" id="message"></input>
		      </div>
		    </div>
		</div>
		<div class="modal-footer">
		  <button type="submit" class="btn btn-primary" name="s" value="Send Message">Send Message</button>
		</div>
		</form>
	      </div>
	    </div>
	  </div>
		
	  {% with messages = get_flashed_messages() %}
	  {% if messages %}

	  {% for message in messages %}

	  {% if message == "invalid recipient" %}
	  <div class="alert alert-danger" role="alert">
	    {{message}}
	  </div>
	  {% endif %}

	  {% if message != "invalid recipient" %}
	  <div class="alert alert-success" role="alert">
	    {{message}}
	  </div>
	  {% endif %}

	  {% endfor %}
	  {% endif %}
	  {% endwith %}
	  <div class="row">
	    <div class="list-group col-md-4 panel-default grey">
		{% for conversation in session['conversations'].keys() %}
		
		<a href="{{conversation}}" class="list-group-item">
		  <h4 class="list-group-item-heading">{{conversation}}</h4>
		  <p class="list-group-item-text">{{session['conversations'][conversation]['messages'][0]['message_text']}}</p>
		</a>
		{% endfor %}
	      </div>

<div class="col-md-8">
	    <div class="panel panel-default grey">
	      <h3 class="under">{{username}}</h3>
	      {% for message in convo %}
	      <p><a href="/profile/{{message['sender']}}">{{message['sender']}}</a>:
		{{message['message_text']}}<br>
		<i>Sent at {{message['time']}} on {{message['date']}}</i></p>
	      {% endfor %}
	      <form method="POST">
		<input type="hidden" value="{{username}}" name="recipient"></input>
		<label for="reply" class="control-label">Reply: </label>	
		<input type="text" class="form-control" placeholder="Message" name="message"></input>
		<button type="submit" style="color:black" name="s" value="Reply">Reply to {{conversation}}</button>
	      </form>


	    </div>
	  </div>


{% endblock %}
