{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="../static/stylesheets/inside.css">
{% endblock head %}

{% block navbar %}
	<div class="container">
		<nav class="navbar navbar-tutee">
			<div class="container-fluid">

				<div id="navbar" class="collapse navbar-collapse">
		       		<ul class="nav navbar-nav">
		       			<li><a href="/homepage"><h3>Tutee</h3></a></li>
					    <li><a href="/profile/{{session['username']}}"><h4>Profile</h4></a></li>
				        <li><a href="/search"><h4>Search</h4></a></li>
				        <li><a href="/settings/profile"><h4>Account Settings</h4></a></li>
					    <li><a href="/inbox"><h4>Messages</h4></a></li>
				    </ul>
		    		<ul class="nav navbar-nav navbar-right">
		          		<li><p class="navbar-text">Signed in as {{ session["first_name"] }} {{ session["last_name"] }}</p></li>
			  			<li><form method="POST" id="message"><input type="submit" class="btn btn-default navbar-btn button" name="s" value="Log Out"></li>
		        	</ul>
		        </div>
			</div>
		</nav>


		<div class="row">
	    <div class="panel panel-default grey">
		<div class="form-group">

		  		<label for="recepient">Recepient</label>
		  		<input type="text" class="form-control" name="recipient" placeholder="Enter Recipient">
		  		<label for="message">Message</label>
		  		<input type="text" class="form-control" name="message" placeholder="Message">
		  		<input type="submit" class="btn btn-default navbar-btn button" name="s" value="Send">
	  		</form>
	  	</div>
	  	</div>
	  	</div>

	<div>
	  {{session['conversations']}}
	  {% for conversation in session['conversations'].keys() %}
	  <div class="row">
	    <div class="panel panel-default grey">
		 <h3 class="under">{{conversation}}</h3>
	      <div class="panel-body">
		<div class="col-md-3">
		  {% for message in session['conversations'][conversation] %}
		  
		    <p><a href="/profile/{{message['sender']}}">{{message['sender']}}</a>:
		      {% if message['unread'] %}
		      <b>{{message['message_text']}}, UNREAD</b><br>
		      {% endif %}
		      {% if message['unread'] == False %}
		      {{message['message_text']}}<br>
		      {% endif %}
		      <i>Sent at {{message['time']}} on {{message['date']}}</i></p>{% if message['undread'] %}
		  </b>
		    {% endif %}
		  {% endfor %}
		  </div>
	      </div>
		<br>
		{% endfor %}
	    </div>
	  </div>
	</div>
</div>
{% endblock %}
