{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="../static/stylesheets/inside.css">
<script>
$('#sendMessage').on('shown.bs.modal', function () {
    $('#myInput').focus()
  });
</script>
{% endblock head %}

{% block navbar %}
	<div class="container">
		<nav class="navbar navbar-tutee">
			<div class="container-fluid">

				<div id="navbar" class="collapse navbar-collapse">
		       		<ul class="nav navbar-nav">
		       			<li><a href="/homepage"><h3>Tutee</h3></a></li>
					    <li><a href="/profile/{{session['username']}}"><h4>Profile</h4></a></li>
					    {% if session['type'] == "tutee" %}
				        <li><a href="/search"><h4>Search</h4></a></li>
					{% endif %}
				        <li><a href="/settings/profile"><h4>Account Settings</h4></a></li>
					    <li><a href="/inbox"><h4>Messages ({{session['count_unread']}})</h4></a></li>
				    </ul>
		    		<ul class="nav navbar-nav navbar-right">
		          		<li><p class="navbar-text">Signed in as {{ session["first_name"] }} {{ session["last_name"] }}</p></li>
			  			<li><form method="POST" id="message"><input type="submit" class="btn btn-default navbar-btn button" name="s" value="Log Out"></li></form>
		        	</ul>
		        </div>
			</div>
		</nav>
		<div class="row">
		  <div class="col-md-4">
		    <div class="thumbnail grey">
			  {% with messages = get_flashed_messages() %}
			  {% if messages %}
    			  {% for message in messages %}
			  <img src="{{message['pic_id']}}">
		      <div class="caption">
			<h3>
			</ul></h3>
<h3>{{message['first_name']}} {{message['last_name']}}</h3>
<h4>{{message['school']}}			</h4>
<h5>{{message['grade']}}th Grade	</h5>
		      </div>
		    </div>
		  </div>

		  <div class="col-md-8">
		  	{% if message["type"]=="tutor"%}
		  	<div class="panel panel-default grey">
		  		<!-- <div class="panel-heading"> -->
		  			<h3 class="under">Favorite Subjects</h3>
		  		<!-- </div> -->
		  		<div class="panel-body">
		  			{{message['classes']}}
		  		</div>
		  	</div>
		  	<div class="panel panel-default grey">
		  		<!-- <div class="panel-heading"> -->
		  			<h3 class="under">Favorite Classes</h3>
		  		<!-- </div> -->
		  		<div class="panel-body">
		  			{{message['courses']}}
		  		</div>
		  	</div>
		  	{% endif %}
		{% if session["type"] != message["type"] %}
		<form method="POST" class="pull-right">
			    		<button type="button" style="color:black" data-toggle="modal" data-target="#sendMessage">Send Message</button>
			    </form>
		<div class="modal fade" id="sendMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" style="color:black" id="myModalLabel">Send a message</h4>
					</div>
					<div class="modal-body">
						<form method="POST">
							<input type="hidden" value="{{message['username']}}" name="recipient"></input>
							<div class="form-group">
								<label for="message" style="color:black" class="control-label">Message: </label>
								<input type="text" class="form-control" name="message" id="message"></input>
							</div>
					</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary" name="s" value="Make Appointment">Send Message</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		{% endif %}


		{% endfor %}
  		{% endif %}
		{% endwith %}
		  </div>
		</div>
	</div>
{% endblock %}
