{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/stylesheets/dropdown.css">
{% endblock %}

{% block body %}
	{% block header %}{% endblock %}

	<form method="POST" action="{{ url_for('register', user_type=user_type) }}" id="info">
		<p>First Name: <input type="text" name="first_name"></p>

		<p>Last Name: <input type="text" name="last_name"></p>

		<p>Username: <input type="text" name="username"></p>

		<p>Email: {{ form.email }}</p>

		<p>Password: {{ form.password }}</p>

		<p>School: <input type="text" name="school"></p>

		<p>Grade: <input type="numn" name="grade"></p>

		<p> Address: 
		  <input type="text" name="address1"></p>

		<p>This is:
		  <select multiple size="1" form="info" name="address1_hs">
		    <option value="Home">Home</option>
		    <option value="School">School</option>
		</select></p>

		{% block info %}{% endblock %}

		<p><button type="submit" name="b" value="Submit">Submit</button></p>
	{{ form.csrf_token }}	
	</form>
<script type="text/javascript" src="/static/js/dropdown.js"></script>
<script type="text/javascript" src="/static/js/dropdown_edit.js"></script>
<script type="text/javascript" src="/static/js/register_tutor.js"></script>

{% endblock %}
