{% extends "base.html" %}
{% block body %}
<form method="POST" id="info">
  <p> Course: <select multiple size="1" form="info" name="courses">
		<option value="chemistry">AP Chemistry</option>
		<option value="physics">AP Physics</option>
		<option value="literature">AP Literature</option>
  </select></p>
  <p> Subject: <select multiple size="1" form="info" name="subjects">
		<option value="chemistry">Chemistry</option>
		<option value="physics">Physics</option>
		<option value="literature">English</option>
  </select></p>

<p> Availability: 
<input type="checkbox" name="days" value="Mon"> Monday <br>
<p> Time: <input type="text" name="Mon_Time_Start"> - <input type="text" name="Mon_Time_End">
<p> Address: <input type="checkbox" name="Mon_Address" value="School">School</input><input type="checkbox" name="Mon_Address" value="Home">Home</input>
<p> Other <input type="text" name="Mon_Other"><br>

<input type="checkbox" name="days" value="Tues"> Tuesday <br>
<p> Time: <input type="text" name="Tues_Time_Start"> - <input type="text" name="Tues_Time_End">
<p> Address: <input type="checkbox" name="Tues_Address" value="School">School</input><input type="checkbox" name="Tues_Address" value="Home">Home</input>
<p> Other Address <input type="text" name="Tues_Other"><br>

<!--Front end design idea: Button to "add day," which will create new field for day, time, and address-->

  {% block info %}{% endblock %}
  <p><button type="submit" name="b" value="Submit">Submit</button></p>
</form>
{% block header %}{% endblock %}
{% endblock %}
