{% extends "settings.html" %}
{% block settings_type %}
	<div class="col-md-8">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Profile</h3>
		  </div>
		  <div class="panel-body">
		    <div class="row">
			  <div class="col-md-3">
			    <div class="thumbnail">
			      <img src="http://upload.wikimedia.org/wikipedia/commons/8/8d/President_Barack_Obama.jpg">
			    </div>
			  	<form method="POST">
			  		<p><label for="upload_picture">Upload Picture</label>
			  		<input type="file" name="fileToUpload" id="upload_picture"></p>
			  		<button type="submit" name="b" value="Update Profile" class="button primary">Update Profile</button>
			  </div>
			  <div class="col-md-6">
				  	<p><label for="username">Username</label>
				  	<input type="text" name="username"></input></p>
				  	<p><label for="email">Email</label>
				  	<input type="text" name="email" value=" {{ session["email"] }}" ></input></p>
				  	<p><label for="school">School</label>
				  	<input type="text" name="school" value=" {{ session["school"] }}" ></input></p>
				  	<p><label for="grade">Grade</label>
				  	<input type="text" name="grade" value=" {{ session["grade"] }}" ></input></p>
			  	</form>
			  </div>
			 </div>
		  </div>
		</div>
	</div>
{% endblock %}
