{% extends "base.html" %}

{% block navbar %}
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			            <span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			          </button>
					<a class="navbar-brand" href="#">Tutee</a>
			</div>
				<div id="navbar" class="collapse navbar-collapse">
		          <ul class="nav navbar-nav">
			    <li><a href="/profile">Home</a></li>
		            <li><a href="/search">Search</a></li>
		            <li><a href="/home">Home</a></li>
			    <li><a href="/inbox">Inbox</a></li>
			    <li><a href="/about">About Tutee</a></li>
		          </ul>
		    	<ul class="nav navbar-nav navbar-right">
		          <li><p class="navbar-text">Signed in as {{ session["first_name"] }} {{ session["last_name"] }}</p></li>
			  <li><form method="POST"><input type="submit" class="btn btn-default navbar-btn" name="b" value="Log Out"></form></li>
		        </ul>
		        </div>
			</div>
		</nav>
		<div class="col-md-4">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Settings</h3>
			  </div>
			  <div class="panel-body">
			  	<div class="list-group">
				    <a href="settings/update_profile" class="list-group-item">Profile</a>
				    {% if session["type"]=="tutor" %}
					    <a href="settings/classes" class="list-group-item">Classes</a>
					    <a href="settings/subjects" class="list-group-item">Subjects</a>
					    <a href="settins/times" class="list-group-item">Times</a>
					{% endif %}
				</div>
			  </div>
			</div>
		</div>
		{% block settings_type %}
		{% endblock %}
	</div>
{% endblock %}