{% extends "base.html" %}
{% block head %}
<script>
var times = {{ days|tojson }};
</script>
{% block head2 %}{% endblock %}
{% endblock %}

{% block navbar %}
	<div class="container">
		<nav class="navbar navbar-tutee">
			<div class="container-fluid">

				<div id="navbar" class="collapse navbar-collapse">
		       		<ul class="nav navbar-nav">
		       			<li><a href="/homepage"><h3>Tutee</h3></a></li>
					    <li><a href="/profile/{{session['username']}}"><h4>Profile</h4></a></li>
					   {% if session['type'] == "tutee" %}
				        <li><a href="/search"><h4>Search</h4></a></li>
				        <li><a href="/settings/profile"><h4>Account Settings</h4></a></li>
						{% endif %}
				        
				        {% if session['type'] == "tutor" %}
				        <li class="dropdown">
				        	<a class="dropdown-toggle" data-toggle="dropdown" role="button"><h4>Account Settings</h4></a>
				        	<ul class="dropdown-menu" role="menu">
				        		<li><a href="/settings/profile">Profile</a></li>
				        		<li><a href="/settings/classes">Classes</a></li>
				        		<li><a href="/settings/times">Times</a></li>
				        	</ul>
				        </li>
				        {% endif %} 
					    <li><a href="/inbox"><h4>Messages ({{session['count_unread']}})</h4></a></li>
				    </ul>
		    		<ul class="nav navbar-nav navbar-right">
		          		<li><p style="color:black !important"class="navbar-text">Signed in as {{ session["first_name"] }} {{ session["last_name"] }}</p></li>
			  			<li><form method="POST" id="message"><input type="submit" class="btn btn-default navbar-btn button" name="s" value="Log Out"></form></li>
		        	</ul>
		        </div>
			</div>
		</nav>
		{% block settings_type %}
		{% endblock %}
	</div>
{% endblock %}
