{% extends "settings.html" %}
{% block head2 %}
<link rel="stylesheet" type="text/css" href="../static/stylesheets/inside.css">

<script>
function previewFile(){
        var preview = document.querySelector('img'); //selects the query named img
        var file    = document.querySelector('input[type=file]').files[0]; 
        var input    = document.getElementById('pic');
        var reader  = new FileReader();

        reader.onloadend = function () {
           preview.src = reader.result;
           input.value = preview.src;
           console.log(input.value)
           console.log(preview.src)
        }

       	if (file) {
           reader.readAsDataURL(file);
           console.log(preview.reader); //reads the data as a URL
        } else {
           preview.src = "";
        }
  }

  previewFile();  //calls the function named previewFile()
</script>
{% endblock head2 %}

{% block settings_type %}
<div class="panel panel-default grey">
	<h3 class="settings-header">Update Profile</h3>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-4">

				<div class="thumbnail">
					<img src="{{ session['pic_id'] }}" >
				</div>
			</div>

			<div class="col-md-8">
				<p><label for="username">Username</label>
				<input type="text" name="username"></input></p>
				<p><label for="email">Email</label>
				<input type="text" name="email" value=" {{ session["email"] }}" ></input></p>
				<p><label for="school">School</label>
				<input type="text" name="school" value=" {{ session["school"] }}" ></input></p>
				<p><label for="grade">Grade</label>
				<input type="text" name="grade" value=" {{ session["grade"] }}" ></input></p>

				<div class="picture-form"><br><br><br>
				    <p><input type="file" name="file" onchange="previewFile()">
				      <input type="submit" name="b" value="Update Profile Picture">
				  </form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
