{% extends "settings.html" %}
{% block head2 %}

<link rel="stylesheet" href="/static/stylesheets/dropdown.css">
<link rel="stylesheet" type="text/css" href="../static/stylesheets/inside.css">

{% endblock %}
{% block settings_type %}
<div id="edit_times"></div>
<form class="grey" method="POST">
<input type="hidden" id="counter" name="counter" value="0">


{% set n = -1 %}
<div id="dropdowns">
{% for d in dicts %}
{% set n = n +1 %}

<div id="menu{{n}}">
<br>

{% include "dropdown.html" %}

<button type="button" class="del_b button" id="{{n}}-del">Delete</button>
<br>
</div>
{% endfor %}
<br>
</div>

<br id="change">
<button type="button" class="button" id="edit_b">Edit</button><br>
<button type="button" class="button" id="add" style="visibility:hidden">Add Another Day</button>
<button type="submit" id="save_b" name="s" value="Update Times" class="button" style="visibility:hidden">Save</button>

</form>


<script type="text/javascript" src="/static/js/dropdown.js"></script>
<script type="text/javascript" src="/static/js/settings_days.js"></script>
{% endblock %}
